.big-background-wrapper {
  background-image: url("/saas-project-assets/header--image.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top 0px right 0px;
  max-width: 100%;
  height: 100%;
 
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px 10px 15px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 500;
  transition: ease-in-out 0.3s;
}

.nav-bar a img {
  max-width: var(--size-150);
  padding-left: 5px;
}

[aria-controls="navbarDropdown"] {
  display: none;
}

.nav-bar.sticky {
  background: white;
  box-shadow: 0px 0px 20px rgba(48, 63, 100, 0.2);
}

.nav-bar.sticky .navbar-toggler span,
.nav-bar.sticky {
  color: var(--nav-color);
}

.navbar-toggler {
  position: absolute;
  right: var(--size-20);
  top: var(--size-10);
  outline: none;
  background-color: transparent;
  border: 1px solid transparent;
}

.navbar-toggler span {
  font-size: var(--size-20);
  cursor: pointer;
  pointer-events: none;
}

.nav-group ul {
  display: flex;
  gap: 30px;
  font-size: var(--size-15);
  font-weight: 600;
  padding-right: 5px;
  align-items: center;
}

.nav-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-group ul li a {
  color: var(--nav-color);
}

.nav-group ul li a:hover {
  color: #2377fe;
}

ul .blue-button  {
  padding: .7rem 1.25rem;
}

.billboard {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  padding-top: 137px;
  column-gap: 80px;
}

.header-text-left {
  max-width: 371px;
  padding-bottom: 100px;
}

.header-text-left p{
line-height: 1.5rem;
font-size: var(--size-14);
font-weight:700;
}

.buttonandtext {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
}

ul .blue-button {
margin-left: 10px;
}

.blue-button a img {
  width: 20px;
  margin-right: 10px;
}

.logo-grid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 430px;
  min-width: 360px;
}



.logo-grid .sml {
  width: 95px;
  height: 95px;
}

.logo-grid .b {
  width: 110px;
  height: 110px;
}

.row-one, .row-two, .row-three {
  display: flex;
  justify-content: space-between;
}


.row-one {
  margin-top: -20px;
}

.google {
  margin-left: -20%;
}

.blue-arrow {
  margin-left: -15%;
}

.red-dots {
  margin-left: 10%;
}

.row-two {
  margin-top: 50px;
}

.paypal {
  margin-left: -25%;
}

.dubs {
  margin-right: 34%;
}

.row-three {
  margin-top: 35px;
}

.tri {
  margin-left: 5%;
  margin-top: -20px;
}

.cal {
  margin-right: 5%;
}

/*
.row-one {
  margin-top: -20px;
}

.blue-arrow {
  margin-left: 20px;
}

.red-dots {
  margin-left: 95px;
}

.row-two {
  margin-top: 50px;
}

.paypal {
  margin-left: -10px;
}

.dubs {
  margin-right: 100px;
}

.row-three {
  margin-top: 35px;
}

.tri {
  margin-left: 92px;
  margin-right: 118px;
  margin-top: -20px;
}


.google {
  margin-right: 20px;
  margin-bottom: 15px;
}

.blue-arrow {
  margin-right: 100px;
}

.paypal {
  margin-left: -15px;
}

.dubs {
  margin-left: 100px;
}

.tri {
  margin-left: 90px;
  margin-bottom: 30px;
}

.cal {
  margin-left: 120px;
  margin-top: 25px;
}

.row-two {
  margin-top: 55px;
}


.google {
  position: relative;
  top: -25px;
}

.blue-arrow {
  position: relative;
  left: 15px;
  top: -16px;
}

.red-dots {
  position: relative;
  left: 106px;
  top: -16px;
}

.paypal {
  position: relative;
  left: -15px;
  top: -10px;
}

.dubs {
  position: relative;
  left: 85px;
  top: -10px;
}

.tri {
  position: relative;
  left: -130px;
  top: 95px;
}

.cal {
  position: relative;
  top: 125px;
}
*/

.key {
  display: flex;
  flex-direction: column;
}

.key-text {
  text-align: center;
  margin-bottom: 50px;
}

.bene-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-bottom: 80px;
}

.bene-cards {
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(3, 3, 3, 0.2);
  padding: 15px;
}

.bene-cards>img {
  max-width: 60px;
}

.gray-section {
  background-color: #f9fafe;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 80px;
}

.left-side-gray {
  padding-left: var(--size-40);
  justify-content: center;
  padding-bottom: 30px;
}

.why {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.why-front {
  text-align: center;
}

.dot-chain-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  gap: 60px;
}

.dot-chain-graphic {
  text-align: center;
}

.dots {
  width: 60px;
}

.dot-text-graphic {
  font-size: var(--size-14);
  font-weight: 700;
  color: black;
  margin-top: var(--size-16);
}

.hr-rule {
  width: 80%;
  border-top: 2px solid #edf1fa;
  position: relative;
  top: -91px;
  z-index: -1;
}


.dot-video {
  display: flex;
  flex-direction: column;
  background-image: url('/saas-project-assets/banners/banner_two.jpg');
  background-size: cover;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.dot-ply-btn {
  position: relative;
  padding: 200px 0;
}

.dot-ply-btn img {
  max-width: 75px;
  border-radius: 35px;
  box-shadow: 0 0 10px rgb(3, 3, 3, .2);
}

.director {
  display: flex;
  gap: 70px;
  align-items: center;
}

.director-pic {
  max-width: 45%;
}

.hubspotlogo {
  width: 100px;
  margin-bottom: 40px;
}

.director-quote {
  font-size: var(--size-20);
  font-weight: 700;
  color: black;
  line-height: var(--size-30);
}

.director-info>h3 {
  line-height: var(--size-25);
  margin-top: var(--size-50);
}

.trusted {
  text-align: center;
}

.trusted-logos img {
  width: 122.8px;
}

.large-gray-text {
  font-size: var(--size-20);
  font-weight: 700;
  color: var(--nav-color);
  line-height: var(--size-30);
  margin-bottom: var(--size-30);
}

.logo-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 90px;
}

.pricing {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.pricing-header {
  text-align: center;
  margin-bottom: 50px;
}

.price-card-wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.price-card-large {
  border-radius: 5px;
  max-width: 36%;
  
  box-shadow: 5px 10px 20px rgb(3, 3, 3, .2);
  padding: 20px;
}

.pricing-font-large {
  font-size: 58px;
  font-weight: 600;
  color: black;
  line-height: var(--size-50);
  padding-right: 10px;
}

.price-month-text {
  font-size: var(--size-25);
  font-weight: 500;
  color: black;
  line-height: var(--size-50);
}

.price-card-wrapper hr {
  border-top: 1px solid var(--nav-color);
  margin: 40px 0 40px 0;
}

.price-card-large>.gray-mid-text {
  font-size: var(--size-18);
  font-weight: 600;
  color: var(--nav-color);
  line-height: var(--size-25);
  margin-top: 40px;
  margin-bottom: 60px;
}

.button-gray-text {
  color: var(--nav-color);
  font-weight: 500;
  font-size: var(--size-14);
  margin-top: 10px;
}

.small-card-group {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  /*grid-template-columns: repeat(2, 1fr);*/
  gap: 15px;
}

.price-card-small {
  
  overflow-wrap: break-word;
}

.price-card-small>img {
  width: 60px;
}

.price-card-small>.gray-mid-text {
  margin: 0;
}

.cancel {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  font-size: var(--size-18);
  font-weight: 700;
  color: black;
}

.green-box-extra {
  background-color: #03caa8;
  margin-left: 10px;
  color: white;
  font-size: var(--size-12);
  margin-bottom: 0;
  padding: 0px 17px;
  border-radius: 15px;
  line-height: 22px;
}

.premium {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 26px 0 10px 0;
  font-size: var(--size-18);
  font-weight: 700;
  color: black;
}

.dkblue {
  margin-top: 0;
}

.hire {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.hire-wrapper {
  margin-left: 60px;
}

.blue-big>p {
  color: var(--nav-color);
  font-size: var(--size-16);
  font-weight: 700;
}

.rule {
  max-width: 40%;
  margin: 30px 0;
}

.whit-text-italic {
  color: white;
  font-size: var(--size-16);
  font-weight: 200;
  font-style: italic;
  margin-bottom: 60px;
}

.wht-text-big {
  color: white;
  font-size: var(--size-18);
  font-weight: 500;
  margin-bottom: 0px;
}

.blue-big {
  display: flex;
  flex-wrap: wrap;
  max-width: 40%;
}

.blue-small {
  font-size: var(--size-14);
  font-weight: 700;
  margin-bottom: 60px;
}


.hire-people img {
  width: 40px;
  border-radius: 20px;
  margin-right: 30px;
  margin-bottom: 50px;
  cursor: pointer;
}

.hire-people img:hover {
  transition: all .3s ease-in-out;
  transform: scale(1.2);
}

.form {
  width: 91%;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  margin: 30px auto;
}

.form .dot-text {
  margin-bottom: 20px;
}

.fn1 {
  grid-area: fn1;
}

.ln1 {
  grid-area: ln1;
}

.fn2 {
  grid-area: fn2;
}

.ln2 {
  grid-area: ln2;
}

.bdg {
  grid-area: bdg;
}

.cnt {
  grid-area: cnt;
}

.msg {
  grid-area: msg;
}

.enter-fields {
  display: grid;
  grid-template-areas:
    'fn1 ln1'
    'fn2 ln2'
    'bdg cnt'
    'msg msg';
  gap: 20px;
}

.form-space input,
.form-space select {
  padding: 10px 10px;
  border: solid 1px var(--form-boarder);
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

textarea {
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--size-14);
  font-weight: 700;
  padding: 10px 10px;
  border: solid 1px var(--form-boarder);
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  width: 100%;
}

.checkbox-wrapper {
  display: flex;
  border-color: var(--form-boarder);
}

.checkbox-wrapper>.gray-mid-text {
  padding-left: 10px;
}

input[type=checkbox]:focus {
  outline: 1px solid var(--form-boarder);
}

input[type=checkbox] {
  border: 1px solid var(--form-boarder);
  background-color: white;
  border-radius: 5px;
  appearance: none;
  width: var(--size-20);
  height: var(--size-20);
  cursor: pointer;
}

input[type=checkbox]:checked {
  background: var(--nav-color) url("data:image/gif;base64,R0lGODlhCwAKAIABAP////3cnSH5BAEKAAEALAAAAAALAAoAAAIUjH+AC73WHIsw0UCjglraO20PNhYAOw==") 3px 3px no-repeat;
}

.form-space input:hover,
.form-space select:hover,
textarea:hover,
input[type=checkbox]:hover {
  background-color: var(--form-boarder);
}

.privacy-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.privacy {
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
}

.privacy a {
  color: var(--nav-color);

}

.privacy a:hover {
  color: var(--nav-color-hover);
}

.button-wrapper {
  display: flex;
  justify-content: center;
}

.footer-top-wrapper {
  display: flex;
  flex-direction: row;
}

.footer-wht-phone-loc {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.footer-columns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.footer-logo img {
  width: 100px;
  margin-bottom: 20px;
}

.footer-wht-info img {
  width: 13px;
  margin-right: 10px;
}

.footer-wht-info ul li {
  margin-bottom: 8px;
}

.footer-wht-info ul li a {
  font-size: var(--size-14);
  font-weight: 700;
  color: var(--nav-color);
}

.footer-wht-info ul li a:hover,
.footer-wht-company ul li a:hover,
.footer-wht-company-extra a:hover,
.footer-wht-company a:hover {
  color: var(--nav-color-hover);
}

.footer-wht-company ul li .dot-text,
.footer-wht-company-extra ul li .dot-text {
  line-height: 0px;
}

.footer-wht-company img {
  width: 15px;
  margin-right: 10px;
}

.footer-wht-company-extra>ul li:nth-child(3) {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-wht-company>ul li,
.footer-wht-company-extra>ul li {
  line-height: 30px;
}

.footer-wht-company i {
  margin-right: 10px;
}

.footer-wht-company i:hover {
  background-color: #2377fe;
}

.blue-box-extra {
  text-align: center;
  background-color: #2377fe;
  border-radius: 5px;
  margin-left: 10px;
}

.blue-box-extra p {
  color: white;
  font-size: 9px;
  margin: 0;
  padding: 3px 5px;
  line-height: 10px;
}


footer>hr {
  border-top: 1px solid var(--form-boarder);
  margin: 40px 0 50px 0;
}


.footer-nav-icons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.footer-nav {
  display: flex;
  margin: 0;
}

.footer-nav p {
  padding: 0 5px;
  font-weight: 700;
  margin: 0;
}

.footer-nav p,
.footer-nav a {
  color: var(--nav-color);
}

.footer-nav p:hover,
.footer-nav a:hover {
  color: var(--nav-color-hover);
}

.footer-icons {
  display: flex;
  align-items: center;
}

.footer-icons select {
  margin-left: 10px;
  background-color: var(--footer-icons);
  padding: 3px 3px;
  border: solid 1px transparent;
  border-radius: 5px;
  font-size: var(--size-12);
  color: black;
  font-weight: 500;
  cursor: pointer;
}

.footer-icons img {
  width: 25px;
  margin-left: 10px;
}

.footer-icons img:hover,
.footer-icons select:hover {
  filter: hue-rotate(320deg) saturate(100%) invert(10%)
}

address {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

address>.gray-mid-text {
  max-width: 700px;
}

img .arrow {
  width: 30px;
  height: 30px;
  z-index: 101;
}

#scrollup {
  background-color: var(--nav-color-hover);
  width: var(--size-50);
  height: var(--size-50);
  position: fixed;
  bottom: var(--size-30);
  right: var(--size-30);
  border-radius: 8px;
  padding: 10px;
  z-index: 100;
}